.additional-products__wrapper {
  padding: 25px 20px 35px 20px;
  background-color: @white;
}

.additional-products__title {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @black;
}

.additional-products__cards {
  margin: 36px 0;
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid @special-grey;
}

.additional-products__item:first-child {
  border-top: 1px solid @special-grey;
}

.additional-products__name-card {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 13px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @dark-grey;
}

.additional-products__info-card {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @text-grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-products__pack,
.additional-products__price {
  font-size: 14px;
  line-height: 14px;
  color: @text-grey;
  font-weight: 400;
}

.additional-products__buy-card {
  border: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  background-color: @basic-green;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
}

.additional-products__bonus {
  background: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-bonus.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.additional-products__bonus-title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
  margin: 0;
  padding-bottom: 43px;
}

.additional-products__icon {
  margin: 60px auto;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .additional-products__wrapper {
    padding: 3px 30px 76px 30px;
    background-color: @white;
  }

  .additional-products__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .additional-products__cards {
    margin: 70px 0;
  }

  .additional-products__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 38px 28px 38px;
    border-left: 1px solid @special-grey;
    border-right: 1px solid @special-grey;
  }

  .additional-products__name-card {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    padding-top: 0;
  }

  .additional-products__info-card {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .additional-products__price {
    margin-left: 50px;
  }

  .additional-products__pack,
  .additional-products__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__buy-card {
    line-height: 0;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 20px;
  }

  .additional-products__bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .additional-products__icon {
    margin-left: 77px;
    margin-right: 0;
    width: 57px;
    height: auto;
  }

  .additional-products__bonus-title {
    padding: 0;
    margin-right: 124px;
  }
}

@media (min-width: @desktop-width) {
  .additional-products__body {
    display: flex;
    margin-top: 80px;
  }

  .additional-products__cards {
    margin: 0;
    flex: 1;
  }

  .additional-products__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
    border-left: none;
    border-right: none;
  }

  .additional-products__buy-card {
    margin: 0;
    width: 245px;
  }

  .additional-products__info-card {
    flex-basis: 300px;
    justify-content: space-between;
  }

  .additional-products__name-card {
    flex: 1;
  }

  .additional-products__buy-card {
    margin-left: 38px;
  }

  .additional-products__bonus {
    flex-direction: column;
    margin-left: 80px;
  }

  .additional-products__bonus-title {
    padding: 0;
    margin: 43px 43px;
  }

  .additional-products__icon {
    margin: 60px auto;
  }
}

