.additional-products__wrapper {
  padding: 25px 20px 35px 20px;
  background-color: #ffffff;
}

.additional-products__title {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.additional-products__cards {
  list-style-type: none;
  margin: 36px 0;
  padding: 0;
}

.additional-products__item {
  margin-bottom: 19px;
}

.additional-products__name-card {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 13px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-products__info-card {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.additional-products__buy-card {
  border: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  background-color: rgba(104, 183, 56, 1);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.additional-products__bonus {
  background: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-bonus.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 187px 61px 43px 58px;
}

.bonus-prize__title {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
