.additionally__form {
  border: none;
  padding: 0;
  margin: 0;
}

.additionally__buy-more {
  margin: 0;
  display: inline-block;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.additionally__list {
  padding: 34px 0;
}

.additionally__item {
  margin-bottom: 25px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .additionally__form {
    border: none;
  }

  .additionally__buy-more {
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;
  }

  .additionally__wrapper {
    position: relative;
  }

  .additionally__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: @basic-green;
    right: 100%;
    margin-right: 40px;
  }

  .additionally__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 65px 0;
  }

  .additionally__item {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .additionally__item {
    margin-bottom: 0;
    width: auto;
  }

  .additionally__list {
    padding: 60px 0;
  }
}
