.advantages__wrapper {
  padding: 0 21px;
  background-color: @white;
}

.advantages__title {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: @black;
}

.advantages__list {
  list-style-type: none;
  margin: 40px 0 49px 0;
  padding: 0;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-grey;
  margin: 0;
}

.advantages__icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: @basic-green;
}

.advantages__icon--leaf {
  background-image: url("../img/icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon--powder {
  background-image: url("../img/icon-tub.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon--eat {
  background-image: url("../img/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__icon--time {
  background-image: url("../img/icon-alarm.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    padding: 15px 105px 10px 30px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    margin: 150px 30px 57px 0;
  }

  .advantages__item {
    min-width: 250px;
    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    padding: 0 110px 33px 110px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    min-width: 250px;
    margin-bottom: 37px;
  }


}
