.cat-comparison__wrapper {
  position: relative;
  margin: 0 auto;
  height: 232px;
  width: 280px;
  margin-top: 35px;
  margin-bottom: 66px;
}

.cat-comparison__after {
  display: block;
}

.cat-comparison__image-before {
  display: block;
  height: 232px;
  width: 280px;
  background-color: @grey-light;
}

.cat-comparison__before {
  display: block;
  width: 100%;
  position: absolute;
  overflow: hidden;

  img {
    max-width: none;
  }
}

.cat-comparison__range {
  display: none;
}

.cat-comparison__image-after {
  height: 232px;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .cat-comparison__range {
    display: block;
  }

  .cat-comparison__range-mobile {
    display: none;
  }

  .cat-comparison__wrapper {
    position: relative;
    width: 592px;
    height: auto;
    margin: 0 auto;
  }


  .cat-comparison__before {
    width: 50%;

    img {
      max-width: none;
    }
  }

  .cat-comparison__after {
    display: block;
    margin-bottom: 30px;
  }

  .cat-comparison {
    background: linear-gradient(@white 26.5%, @grey-light 26.5%);
  }

  .cat-comparison__image-before {
    display: block;
    height: 511px;
    width: 592px;
    background: linear-gradient(@white 33%, @grey-light 19%);
  }

  .cat-comparison__image-after {
    display: block;
    height: 511px;
    width: 592px;
    background: linear-gradient(@white 33%, @grey-light 19%);
  }
}

@media (min-width: @desktop-width) {
  .cat-comparison {
    display: block;
    background: linear-gradient(@white 32%, @basic-grey 24%);
  }

  .cat-comparison__wrapper {
    margin-right: 110px;
  }

  .cat-comparison__image-after {
    background: linear-gradient(@white 36%, @basic-grey 34%);
  }

  .cat-comparison__image-before {
    background: linear-gradient(@white 36%, @basic-grey 34%);
  }
}
