.catalog-product-cards__wrapper {
  padding: 0 20px 0 20px;
  background-color: @white;
}

.catalog-product-cards__title {
  margin: 0;
  padding-top: 27px;
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin-bottom: 41px;
  border-top: 1px solid #d9d9d9;
}

.catalog-product-cards__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  justify-content: center;
}

.catalog-product-cards__all-catalog {
  position: relative;
  padding: 78px 0 25px 0;
}

.catalog-product-cards__all-catalog::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #d3d3d3;
  top: 25px;
  left: 50%;
}

.catalog-product-cards__all-catalog::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  top: 40px;
  left: calc(50% - 15px);
}

@media (min-width: @tablet-width) {
  .catalog-product-cards__wrapper {
    padding: 75px 30px 65px 30px;
  }

  .catalog-product-cards__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 160px;
  }

  .catalog-product-cards__list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 140px;
    grid-column-gap: 60px;
    justify-content: center;
  }

  .catalog-product-cards__all-catalog {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-product-cards__wrapper {
    padding: 75px 110px;
  }

  .catalog-product-cards__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 143px;
    grid-column-gap: 80px;
  }
}
