.catalog-product-cards__wrapper {
  padding: 0 20px 0 20px;
  background-color: @white;
}

.catalog-product-cards__title {
  margin: 0;
  padding-top: 27px;
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin-bottom: 41px;
}

.catalog-product-cards__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;
  justify-content: center;
}
@media (min-width: @tablet-width) {
  .catalog-product-cards__wrapper {
    padding: 65px 30px;
  }

  .catalog-product-cards__wrapper-table {
    padding-top: 163px;
  }

  .catalog-product-cards__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
  }

  .catalog-product-cards__list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 140px;
    grid-column-gap: 60px;
    justify-content: center;
  }

  .catalog-product-cards__all-catalog {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-product-cards__wrapper {
    padding: 75px 110px;
  }

  .catalog-product-cards__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 143px;
    grid-column-gap: 80px;
  }
}
