.collaboration__wrapper {
  padding: 26px 20px;
}

.collaboration__title {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.collaboration__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @text-grey;
}

.collaboration__invitation {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .collaboration__wrapper {
    padding: 0;
  }

  .collaboration__invitation {
    padding: 55px 60px;
  }
}

@media (min-width: @desktop-width) {
  .collaboration__invitation {
    padding: 60px 80px 55px 80px;
  }
}
