.copyright__link {
  margin: 0;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @text-grey;
  text-decoration: none;

  &:hover {
    color: @text-grey;
  }

  &:active {
    color: @text-grey;
    opacity: 0.3;
  }
}


.copyright__htmlacademy-logo {
  display: block;
  fill: @footer-icon;
  width: 27px;
  height: 34px;

  &:hover {
    fill: @basic-green;
  }

  &:active {
    fill: @basic-green;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    margin-right: 22px;
    align-items: center;
    display: flex;
  }
}
