.footer__wrapper {
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  flex-direction: column;
}

.footer__collaboration {
  background-color: @white;
}

.footer__collaboration--catalog {
  background: rgba(242, 242, 242, 1);
}

.footer__collaboration--form {
  background: rgba(242, 242, 242, 1);
}

.footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid @color-border;
  margin-right: 20px;
  margin-left: 20px;
}

.footer__copyright {
  display: flex;
  padding: 28px 20px;
  justify-content: space-between;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .footer__contacts {
    display: flex;
    padding: 60px 30px;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: none;
  }

  .footer__social {
    margin: 0;
    padding: 0;
  }

  .footer__social-list {
    margin: 0;
    list-style-type: none;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__contacts {
    display: flex;
    padding: 60px 110px;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .footer__social {
    margin: 0;
    padding: 0;
  }

  .footer__social-list {
    margin: 0;
    list-style-type: none;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
  }
}
