.live-example__wrapper {
  background-color: rgba(234, 234, 234, 1);
  padding: 25px 20px;
}

.live-example__title {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: @black;
}

.live-example__text {
  margin: 40px 0 20px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-grey;
}

.live-example__price {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.live-example__statistic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .live-example__wrapper {
    background-color: @white;
    padding: 0;
  }

  .live-example__wrapper--tablet {
    background-color: rgba(234, 234, 234, 1);
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .live-example__text {
    margin: 70px 30px 54px 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__statistic {
    justify-content: flex-start;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 85px;
  }
}

@media (min-width: @desktop-width) {
  .live-example__wrapper {
    background-color: @white;
    padding: 0;
  }

  .live-example__wrapper--desktop {
    background-color: rgba(242, 242, 242, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .live-example__wrapper--tablet {
    background-color: rgba(242, 242, 242, 1);
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 76px;
    margin-left: 110px;
    margin-right: 110px;
  }

  .live-example__text {
    margin: 70px 110px;
    width: 436px;
  }

  .live-example__statistic {
    margin-left: 110px;
    margin-bottom: 75px;
  }

  .live-example__cat-comparison {
    margin-top: -184px;
  }
}
