.product-card__item {
  display: flex;
  flex-wrap: wrap;
}

.product-card__icon {
  width: 50%;
  text-align: center;
  align-self: end;
}

.product-card__info {
  width: 50%;
}

.product-card__title {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  padding-top: 19px;
  padding-bottom: 14px;
  padding-right: 45px;
}

.product-card__details {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @text-grey;
}

.product-card__button-order {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background-color: rgba(104, 183, 56, 1);
  min-height: 40px;
  width: 100%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 22px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .product-card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @basic-grey;
    padding: 40px 40px;
    box-sizing: border-box;
  }

  .product-card__title {
    margin-bottom: 21px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product-card__info {
    width: 100%;
  }

  .product-card__details {
    font-size: 16px;
    line-height: 16px;
  }

  .product-card__button-order {
    margin-bottom: 0;
    margin-top: 33px;
  }

  .product-card__icon {
    align-self: center;
    margin-top: -80px;
    margin-bottom: 34px;
  }

  .product-card__wrapper-icon {
    min-height: 160px;
  }
}

@media (min-width: @desktop-width) {
  .product-card__title {
    line-height: 21px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .product-card__photo {
    min-width: 172px;
    height: auto;
  }

  .product-card__wrapper-icon {
    min-height: 202px;
  }

  .product-card__icon {
    width: auto;
    margin-bottom: 42px;
  }
}
