.program-selection__wrapper {
  padding: 27px 20px 32px 20px;
  background-color: @white;
}

.program-selection__title {
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin: 0;
}

.program-selection__subtitle {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-top: 37px;
}

.program-selection__questionnaire {
  margin: 0;
  margin-top: 39px;
}
