.purpose-program__form {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  border: none;
}

.purpose-program__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.purpose-program__item {
  margin: 0;
  margin-bottom: 25px;
}
