.questionnaire__cat-data {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.questionnaire__contact {
  padding: 26px 0 8px 0;
}

.questionnaire__comment {
  margin-bottom: 22px;
}

.questionnaire__additionally {
  margin-bottom: 17px;
}

.questionnaire__send-form {
  cursor: pointer;
  border: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  background-color: rgba(104, 183, 56, 1);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 21px;
}

.questionnaire__required-form {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
