// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

/*главная страница*/
@import "main-header";
@import "promo";
@import "catalog-program";
@import "advantages";
@import "live-example";
@import "footer";

/*страница каталога*/
@import "catalog-product-cards";
@import "additional-products";

/*формы*/
@import "program-selection";

