//colors
@basic-green: #68b738;
@basic-grey: #f2f2f2;
@special-grey: #cdcdcd;
@text-grey: #444444;
@dark-grey: #222222;
@white: #ffffff;
@black: #000000;
@color-border: #d9d9d9;
@grey-light: #eaeaea;
@grey-color: #d3d3d3;
@black-special: #111111;
@grey-border: #e7e7e7;
@footer-icon: #666666;
@basic-green2: #5eaa2f;
@grey-button: #ebebeb;
@border-nav: #e6e6e6;
@error: #ff8282;
@grey-2: #bababa;

